<html>
    <head>
      <title>INDEX</title>
    </head>
    <body>
      <h1>INI HALAMAN INDEX</h1>
      <hr>
      <table border="1">
        <tr>
          <a href="list">List</th>
          <a href="supervisor">Supervisor</th> 
        </tr>
      </table>
    </body>
</head>
<html>
    

  