<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Halaman List Projects</title>
</head>
<body>
    <thead>
        <tr>
            <td>ID</td>
            <td>Nama Projects</td>
        </tr>
    </thead>
</body>
</html>