<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Halaman List Projects</title>
</head>

<body>
    <table>
    <thead>

        <tr>
              <select>
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
              </select> 
        </tr>

        <a href="/list">Supervisor</a>
    </thead>
    </table>
        </tbody>
</body>
</html>