<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Halaman List Projects</title>
</head>

<body>
    <table>
    <thead>
        <td>Nama Projects</td>
        <td>Status : </td>
         <select>
                <option value="status">ON</option>
                <option value="status">DONE</option>
         </select>
        <td><a href="/list">Supervisor</a></td>
    </thead>
    </table>
        </tbody>
</body>
</html>

